/.vscode
/applesinthekorzinka.cpp
/applesinthekorzinka.exe
/Arraytask1.cpp
/Arraytask2.cpp
/Arraytask2.exe
/Baldur's Gate 4.cpp
/Baldur's Gate 4.exe
/Baldurs_Gate 4.exe
/bigger_less_equal.cpp
/biggest_number.cpp
/biggest_number.exe
/chess.cpp
/FatGameQuest.exe
/functiontask2.cpp
/functiontask2.exe
/functiontask3.cpp
/functiontask3.exe
/grades.cpp
/grades.exe
/happynumber.exe
/hello.cpp
/hello.exe
/if_else.cpp
/if_else.exe
/ispalindromLEETCODE.cpp
/project33.exe
/projectRED.cpp
/repeattask1.cpp
/repeattask1.exe
/skyline.cpp
/skyline.exe
/string.cpp
/string.exe
/stringtask2.cpp
/stringtask2.exe
/stringtask3.cpp
/stringtask3.exe
/stringtask4.cpp
/stringtask4.exe
/stringtask5.cpp
/stringtask5.exe
/tasknumber33.cpp
/tasknumber33.exe
/testrandom.cpp
/testrandom.exe
/Vectortask1.cpp
/Vectortask1.exe
/Vectortask2.cpp
/Vectortask2.exe
/Vectortask3.cpp
/Vectortask3.exe
/Vectortask4.cpp
/Vectortask4.exe
/Vectortask5.cpp
/Vectortask5.exe
/whiletask1.cpp
/whiletask1.exe
/whiletask2.cpp
/whiletask2.exe
/whiletask3.cpp
/whiletask3.exe
/whiletask4.cpp
/whiletask4.exe
/whiletask5.cpp
/whiletask5.exe
/whiletask6.cpp
/whiletask6.exe
/zmeika.cpp
/zmeika.exe